/* TODO download instead */
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Ubuntu Mono';
    font-size: 20px;
}

.content {
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.desktop {
    max-width: 960px;
    padding: 20px;
    font-size: 1em;
}

.mobile {
    padding: 8px;
    font-size: 1em;
}

@media (max-width: 480px) {
    .content.desktop { display: none; }
}

@media (min-width: 481px) {
    .content.mobile { display: none; }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 4px;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.00em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.50em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.00em; }
h6 { font-size: 0.75em; }

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Text align utils */
.text.left   { text-align: left; }
.text.center { text-align: center; }
.text.right  { text-align: right; }